{% extends 'base.html' %} {% import 'macros.html' as macro %} {% block content %}
<div class="container-fluid mt-4">
<div class="row mt-4 mb-4">

</div>
</div>
<div class="container-fluid mt-4">
  <div class="jumbotron mt-4">
    <h1 class="display-4 text-center">Parents! :)</h1>
    <h2 class="display-4 text-center"> Happy Anniversary!!</h2>
    <h3 class="display-4 text-center">Here to supply all the news at your call :)</h3>
    <!-- <div id="general news"> -->

      <div class="card">
        <div class="card-header">
          News Sources
        </div>
    <div class="card-body">
      <!-- <h3 class="card-title">General News Sources</h3> -->
      <div class="row">
        {{macro.displaySource(general)}}
      </div>
    <!-- </div>     -->
  </div>
    </div>
  </div>
</div>
{%endblock%}
